body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rocket-card {
  width: calc(100%/4);
}
.filter-heading:after {
  content: '';
  display: block;
  border-bottom: 2px solid lightgray;
  width: 80%;
  margin: 0 auto;
}
.results-loading {
  text-align: center;
  margin-top: 30%;
}
@media only screen and (max-width: 1024px) {
  .rocket-card {
    width: calc(100%/2);
  }
  .filter-section {
    max-width: 25% !important;
    flex: 0 0 25% !important;
  }
  .rockets-section {
    max-width: 70% !important;
  }
}
@media only screen and (max-width: 890px) {
  .filter-section {
    max-width: 30% !important;
    flex: 0 0 30% !important;
  }
}
@media only screen and (max-width: 699px) {
  .rocket-card {
    width: 100%;
  }
  .filter-section {
    max-width: 100% !important;
  }
  .rockets-section {
    max-width: 100% !important;
  }
  .filters {
    margin: 0 auto;
    width: 30%;
  }
}
